<footer>
    <div class="footer container column align-items-center justify-content-center">
        <div class="footer--block text-align-center">
            <div class="">
                <a href="{{ site.baseurl }}/"><span>F5 Networks |</span> Solutions Engineering</a>
            </div>
            <div class="by" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">
                <small>Solutions in these repositories are community support only. <br />
                    For officially supported projects, please visit the <a href="https://github.com/f5networks"
                        target="_blank">F5Networks GitHub
                        organization</a>.</small>
            </div>
        </div>
    </div>
</footer>