  <header>
      <div class="header container align-items-center justify-content-center">
          <div class="header--block size margin container column">
              <div class="header--block--text">
                  Search Project Pages in {{ site.title }} Organization
              </div>
              <div class="container column position-search">
                  <div class="header--block--input" id="search-container">
                      <div class="header--block--input--icon">
                          <span class="feather-icon icon-search"></span>
                      </div>
                      <form onSubmit="return lunr_search(document.getElementById('lunrsearch').value);return false">
                          <input class="input-search" type="text" id="lunrsearch" name="q" maxlength="255" value=""
                              placeholder="Search Projects Pages" />
                      </form>
                  </div>
                  <div class="header--block--result">
                      <ul id="results-container"></ul>
                  </div>
              </div>
          </div>
      </div>
  </header>